@charset "UTF-8";

@font-face {
    font-family: "minhafont";
    src: url(minhafonte.ttf);
}

body {
    padding: 10px;
    font-family: 'minhafont', Arial, Helvetica, sans-serif;
    background-color: black;
}

main {
    margin: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    width: 90%; /* Use porcentagem para melhor responsividade */
    max-width: 500px; /* Defina uma largura máxima para evitar que o conteúdo se espalhe demais */
    min-height: 600px; /* Garanta uma altura mínima para o conteúdo */
    box-sizing: border-box; /* Inclua a largura da borda e do preenchimento no cálculo total da largura */
    padding: 20px; /* Adicione preenchimento interno */
}

h1 {
    color: red;
    font-size: 2em; /* Use unidades 'em' para garantir escalabilidade */
    text-align: center; /* Centralize o texto */
}

.lista {
    text-align: center;
    padding: 0;
    color: red;
    list-style-type: none;
    columns: 2;
}

.links {
    text-align: center;
    margin-top: 20px; /* Adicione margem superior para separar da lista */
}

.links a {
    text-decoration: none;
    color: red;
    margin: 0 10px; /* Adicione margens horizontais para espaçamento entre os links */
    padding: 5px;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: line-through;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.2); /* Adicione um destaque de fundo ao passar o mouse */
}
