@charset "UFT-8";
@font-face {
    font-family: "minhafont";
    src: url(minhafonte.ttf);
}
body {
    background-color: black;
    padding: 10px;
    font-family: minhafont, Arial, Helvetica, sans-serif;
    margin: auto;
}
main {
    width: 490px;
    height: 550px;
    min-width: 300px;
    min-height: 493px;
    margin: auto;
    border-radius: 5px;
}

#nome {
    text-align: center;
    position: relative;
    top: 20%;
    color:red;
    padding: 0%;
}
#linguas {
    columns: 2;
    color: red;
    position: relative;
    top: 40%;
}

.itens {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 40%;
}

#cont {
    margin: auto;
    position: relative;
    top: 60%;
    text-align: center;
}

.links a {
    padding-left: 5x;
    color: red;
    text-decoration: none;
    transition: .3s;
}

a:hover  {
    text-decoration: line-through;
}

